#howitworks {
  background-color: #f8f9fa;
  padding-top: 5.1rem !important;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 2.2rem !important;
    padding-bottom: 1.2rem !important;
  }
  > .container {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(/img/howitworks/bg.png);
    background-size: auto;
    height: 100%;
    bottom: 0;
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 0;
    top: 1px;
    will-change: background-image;
  }
}
